<!doctype html>

<title>Web App</title>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>

    <script src="script.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#fullpage').fullpage({
              sectionsColor: ['#1bbc9b', '#4BBFC3', '#7BAABE', 'whitesmoke', '#ccddff'],
              anchors: ['firstPage', 'secondPage', '3rdPage', '4thpage', 'lastPage'],
              menu: '#menu',
            });
        });
    </script>
</head>

        <h1>World Map Predictive Analysis</h1>

       </body>

        <!-- <p> </p> -->
        <!-- <p class="introimg">&darr;&#9636;&darr;</p> -->

        <!-- <h3> Options: </h3>
        <body>

           <form action = "http://localhost:5000/formsubmit" method=post onsubmit="return doSomething()">
               <select name="Options" size="4" multiple>
                 <option value="population">Population</option>
                 <option value="gdp">GDP/Capita</option>
                 <option value="gini">GINI Score</option>
                 <option value="happiness">Happiness Score</option>
               </select>
               <input type=submit>
           </form>

         </body> -->

         <!-- This table displays the received inputs from the setup page -->
        <body>

           <table border = 1>
             {% for key, value in result.items() %}

                <tr>
                   <th> {{ key }} </th>
                   <td> {{ value }} </td>
                </tr>

             {% endfor %}
           </table>

        </body>

        <!-- This button takes you back to the setup page to change inputs -->
        <form action="/setup_page">
            <input type="submit" value="Change Inputs" />
        </form>

        {{ test_list[0] }}
        {{ test_list[1] }}

        <!-- This API displays a weighted world map using the table hard-coded below -->

        <body>
          <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
          <script type="text/javascript">
            google.charts.load('current', {
              'packages':['geochart'],
              // Note: you will need to get a mapsApiKey for your project.
              // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
              'mapsApiKey': 'AIzaSyD-9tSrke72PouQMnMX-a7eZSW0jkFMBWY'
            });
            google.charts.setOnLoadCallback(drawRegionsMap);

            function drawRegionsMap() {
              var data = google.visualization.arrayToDataTable([
                ['Country','Indicator'],
                ['AD', {{test_list[0]}}],
                ['AE', {{test_list[1]}}],
                ['AF', {{test_list[2]}}],
                ['AG', {{test_list[3]}}],
                ['AL', {{test_list[4]}}],
                ['AM', {{test_list[5]}}],
                ['AO', {{test_list[6]}}],
                ['AR', {{test_list[7]}}],
                ['AS', {{test_list[8]}}],
                ['AT', {{test_list[9]}}],
                ['AU', {{test_list[10]}}],
                ['AW', {{test_list[11]}}],
                ['AZ', {{test_list[12]}}],
                ['BA', {{test_list[13]}}],
                ['BB', {{test_list[14]}}],
                ['BD', {{test_list[15]}}],
                ['BE', {{test_list[16]}}],
                ['BF', {{test_list[17]}}],
                ['BG', {{test_list[18]}}],
                ['BH', {{test_list[19]}}],
                ['BI', {{test_list[20]}}],
                ['BJ', {{test_list[21]}}],
                ['BM', {{test_list[22]}}],
                ['BN', {{test_list[23]}}],
                ['BO', {{test_list[24]}}],
                ['BR', {{test_list[25]}}],
                ['BS', {{test_list[26]}}],
                ['BT', {{test_list[27]}}],
                ['BW', {{test_list[28]}}],
                ['BY', {{test_list[29]}}],
                ['BZ', {{test_list[30]}}],
                ['CA', {{test_list[31]}}],
                ['CD', {{test_list[32]}}],
                ['CF', {{test_list[33]}}],
                ['CG', {{test_list[34]}}],
                ['CH', {{test_list[35]}}],
                ['CI', {{test_list[36]}}],
                ['CL', {{test_list[37]}}],
                ['CM', {{test_list[38]}}],
                ['CN', {{test_list[39]}}],
                ['CO', {{test_list[40]}}],
                ['CR', {{test_list[41]}}],
                ['CU', {{test_list[42]}}],
                ['CV', {{test_list[43]}}],
                ['CW', {{test_list[44]}}],
                ['CY', {{test_list[45]}}],
                ['CZ', {{test_list[46]}}],
                ['DE', {{test_list[47]}}],
                ['DJ', {{test_list[48]}}],
                ['DK', {{test_list[49]}}],
                ['DM', {{test_list[50]}}],
                ['DO', {{test_list[51]}}],
                ['DZ', {{test_list[52]}}],
                ['EC', {{test_list[53]}}],
                ['EE', {{test_list[54]}}],
                ['EG', {{test_list[55]}}],
                ['ER', {{test_list[56]}}],
                ['ES', {{test_list[57]}}],
                ['ET', {{test_list[58]}}],
                ['FI', {{test_list[59]}}],
                ['FJ', {{test_list[60]}}],
                ['FM', {{test_list[61]}}],
                ['FO', {{test_list[62]}}],
                ['FR', {{test_list[63]}}],
                ['GA', {{test_list[64]}}],
                ['GB', {{test_list[65]}}],
                ['GD', {{test_list[66]}}],
                ['GE', {{test_list[67]}}],
                ['GH', {{test_list[68]}}],
                ['GI', {{test_list[69]}}],
                ['GL', {{test_list[70]}}],
                ['GM', {{test_list[71]}}],
                ['GN', {{test_list[72]}}],
                ['GQ', {{test_list[73]}}],
                ['GR', {{test_list[74]}}],
                ['GT', {{test_list[75]}}],
                ['GU', {{test_list[76]}}],
                ['GW', {{test_list[77]}}],
                ['GY', {{test_list[78]}}],
                ['HK', {{test_list[79]}}],
                ['HN', {{test_list[80]}}],
                ['HR', {{test_list[81]}}],
                ['HT', {{test_list[82]}}],
                ['HU', {{test_list[83]}}],
                ['ID', {{test_list[84]}}],
                ['IE', {{test_list[85]}}],
                ['IL', {{test_list[86]}}],
                ['IM', {{test_list[87]}}],
                ['IN', {{test_list[88]}}],
                ['IQ', {{test_list[89]}}],
                ['IR', {{test_list[90]}}],
                ['IS', {{test_list[91]}}],
                ['IT', {{test_list[92]}}],
                ['JM', {{test_list[93]}}],
                ['JO', {{test_list[94]}}],
                ['JP', {{test_list[95]}}],
                ['KE', {{test_list[96]}}],
                ['KG', {{test_list[97]}}],
                ['KH', {{test_list[98]}}],
                ['KI', {{test_list[99]}}],
                ['KM', {{test_list[100]}}],
                ['KN', {{test_list[101]}}],
                ['KP', {{test_list[102]}}],
                ['KR', {{test_list[103]}}],
                ['KW', {{test_list[104]}}],
                ['KY', {{test_list[105]}}],
                ['KZ', {{test_list[106]}}],
                ['LA', {{test_list[107]}}],
                ['LB', {{test_list[108]}}],
                ['LC', {{test_list[109]}}],
                ['LI', {{test_list[110]}}],
                ['LK', {{test_list[111]}}],
                ['LR', {{test_list[112]}}],
                ['LS', {{test_list[113]}}],
                ['LT', {{test_list[114]}}],
                ['LU', {{test_list[115]}}],
                ['LV', {{test_list[116]}}],
                ['LY', {{test_list[117]}}],
                ['MA', {{test_list[118]}}],
                ['MC', {{test_list[119]}}],
                ['MD', {{test_list[120]}}],
                ['ME', {{test_list[121]}}],
                ['MF', {{test_list[122]}}],
                ['MG', {{test_list[123]}}],
                ['MH', {{test_list[124]}}],
                ['MK', {{test_list[125]}}],
                ['ML', {{test_list[126]}}],
                ['MM', {{test_list[127]}}],
                ['MN', {{test_list[128]}}],
                ['MO', {{test_list[129]}}],
                ['MP', {{test_list[130]}}],
                ['MR', {{test_list[131]}}],
                ['MT', {{test_list[132]}}],
                ['MU', {{test_list[133]}}],
                ['MV', {{test_list[134]}}],
                ['MW', {{test_list[135]}}],
                ['MX', {{test_list[136]}}],
                ['MY', {{test_list[137]}}],
                ['MZ', {{test_list[138]}}],
                ['NA', {{test_list[139]}}],
                ['NC', {{test_list[140]}}],
                ['NE', {{test_list[141]}}],
                ['NG', {{test_list[142]}}],
                ['NI', {{test_list[143]}}],
                ['NL', {{test_list[144]}}],
                ['NO', {{test_list[145]}}],
                ['NP', {{test_list[146]}}],
                ['NR', {{test_list[147]}}],
                ['NZ', {{test_list[148]}}],
                ['OM', {{test_list[149]}}],
                ['PA', {{test_list[150]}}],
                ['PE', {{test_list[151]}}],
                ['PF', {{test_list[152]}}],
                ['PG', {{test_list[153]}}],
                ['PH', {{test_list[154]}}],
                ['PK', {{test_list[155]}}],
                ['PL', {{test_list[156]}}],
                ['PR', {{test_list[157]}}],
                ['PT', {{test_list[158]}}],
                ['PW', {{test_list[159]}}],
                ['PY', {{test_list[160]}}],
                ['QA', {{test_list[161]}}],
                ['RO', {{test_list[162]}}],
                ['RS', {{test_list[163]}}],
                ['RU', {{test_list[164]}}],
                ['RW', {{test_list[165]}}],
                ['SA', {{test_list[166]}}],
                ['SB', {{test_list[167]}}],
                ['SC', {{test_list[168]}}],
                ['SD', {{test_list[169]}}],
                ['SE', {{test_list[170]}}],
                ['SG', {{test_list[171]}}],
                ['SI', {{test_list[172]}}],
                ['SK', {{test_list[173]}}],
                ['SL', {{test_list[174]}}],
                ['SM', {{test_list[175]}}],
                ['SN', {{test_list[176]}}],
                ['SO', {{test_list[177]}}],
                ['SR', {{test_list[178]}}],
                ['SS', {{test_list[179]}}],
                ['ST', {{test_list[180]}}],
                ['SV', {{test_list[181]}}],
                ['SX', {{test_list[182]}}],
                ['SY', {{test_list[183]}}],
                ['SZ', {{test_list[184]}}],
                ['TC', {{test_list[185]}}],
                ['TD', {{test_list[186]}}],
                ['TG', {{test_list[187]}}],
                ['TH', {{test_list[188]}}],
                ['TJ', {{test_list[189]}}],
                ['TL', {{test_list[190]}}],
                ['TM', {{test_list[191]}}],
                ['TN', {{test_list[192]}}],
                ['TO', {{test_list[193]}}],
                ['TR', {{test_list[194]}}],
                ['TT', {{test_list[195]}}],
                ['TV', {{test_list[196]}}],
                ['TZ', {{test_list[197]}}],
                ['UA', {{test_list[198]}}],
                ['UG', {{test_list[199]}}],
                ['US', {{test_list[200]}}],
                ['UY', {{test_list[201]}}],
                ['UZ', {{test_list[202]}}],
                ['VC', {{test_list[203]}}],
                ['VE', {{test_list[204]}}],
                ['VG', {{test_list[205]}}],
                ['VI', {{test_list[206]}}],
                ['VN', {{test_list[207]}}],
                ['VU', {{test_list[208]}}],
                ['WS', {{test_list[209]}}],
                ['XK', {{test_list[210]}}],
                ['YE', {{test_list[211]}}],
                ['ZA', {{test_list[212]}}],
                ['ZM', {{test_list[213]}}],
                ['ZW', {{test_list[214]}}]
                ]);
                // );
                  // ]);
                  // var data = new google.visualization.DataTable(
                  // data.addColumn('string', 'Country');
                  // data.addColumn('number', 'Coefficient');
                  // data.addRows([
                  //   ['AD', 199],
                  //   ['AE', 333],
                  //   ['AF', 234],
                  //   ['AG', 22]

                // {{ test_list }}

              var options = {};

              var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

              chart.draw(data, options);
            }
          </script>
        </body>

        <body>
          <center>
          <div id="regions_div" style="width: 900px; height: 500px;"></div>
          </center>
        </body>


        <!-- This is a country search bar to get more info about a specific country during the given year -->
        <body>

           <!-- <form action = "http://localhost:5000/login" method = "post"> -->
           <form action = "http://localhost:5000/world_map" method=post onsubmit="return my_form_post()">
             <input name="text">
             <input type="submit">
           </form>
           <p>Country entered: {{ processed_text }}</p>
         </body>
