<!doctype html>

<title>Web App</title>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>

    <script src="script.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#fullpage').fullpage({
              sectionsColor: ['#1bbc9b', '#4BBFC3', '#7BAABE', 'whitesmoke', '#ccddff'],
              anchors: ['firstPage', 'secondPage', '3rdPage', '4thpage', 'lastPage'],
              menu: '#menu',
            });
        });
    </script>
</head>

        <h1>World Map Predictive Analysis</h1>

       </body>

        <!-- <p> </p> -->
        <!-- <p class="introimg">&darr;&#9636;&darr;</p> -->

        <!-- <h3> Options: </h3>
        <body>

           <form action = "http://localhost:5000/formsubmit" method=post onsubmit="return doSomething()">
               <select name="Options" size="4" multiple>
                 <option value="population">Population</option>
                 <option value="gdp">GDP/Capita</option>
                 <option value="gini">GINI Score</option>
                 <option value="happiness">Happiness Score</option>
               </select>
               <input type=submit>
           </form>

         </body> -->

         <!-- This table displays the received inputs from the setup page -->
        <body>

           <table border = 1>
             {% for key, value in result.items() %}

                <tr>
                   <th> {{ key }} </th>
                   <td> {{ value }} </td>
                </tr>

             {% endfor %}
           </table>

        </body>

        <!-- This button takes you back to the setup page to change inputs -->
        <form action="/setup_page">
            <input type="submit" value="Change Inputs" />
        </form>

        {{ test_list }}

        <!-- This API displays a weighted world map using the table hard-coded below -->

        <body>
          <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
          <script type="text/javascript">
            google.charts.load('current', {
              'packages':['geochart'],
              // Note: you will need to get a mapsApiKey for your project.
              // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
              'mapsApiKey': 'AIzaSyD-9tSrke72PouQMnMX-a7eZSW0jkFMBWY'
            });
            google.charts.setOnLoadCallback(drawRegionsMap);

            function drawRegionsMap() {
              // var data = google.visualization.arrayToDataTable(
              // var cars = {{ test_list }}
              var data = google.visualization.arrayToDataTable([
                ['Country', 'Coefficient'],
                ['Germany', 34],
                ['United States', 25],
                ['Brazil', 75],
                ['Canada', 14],
                ['France', 94],
                ['RU', 16],
                ['China', 16]
              ]);

                  // data.addColumn('string', 'Country');
                  // data.addColumn('number', 'Coefficient');
                  // data.addRows(
                  //   ['AD', 199], ['AE', 333], ['AF', 234], ['AG', 22]

                // {{ test_list }}
                // [['Country', 'Coefficient'], ['AD', 0], ['AE', 333], ['AF', 234], ['AG', 22]]
              // );

              var options = {};

              var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

              chart.draw(data, options);
            }
          </script>
        </body>

        <body>
          <center>
          <div id="regions_div" style="width: 900px; height: 500px;"></div>
          </center>
        </body>


        <!-- This is a country search bar to get more info about a specific country during the given year -->
        <body>

           <!-- <form action = "http://localhost:5000/login" method = "post"> -->
           <form action = "http://localhost:5000/world_map" method=post onsubmit="return my_form_post()">
             <input name="text">
             <input type="submit">
           </form>
           <p>Country entered: {{ processed_text }}</p>
         </body>
