<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="https://html5-templates.com/" />
    <title>HTML Template - Full Page Slider Navigation</title>
    <meta name="description" content="A brief page description">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>

    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> -->

    <script src="script.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#fullpage').fullpage({
              sectionsColor: ['#1bbc9b', '#4BBFC3', '#7BAABE', 'whitesmoke', '#ccddff'],
              anchors: ['firstPage', 'secondPage', '3rdPage', '4thpage', 'lastPage'],
              menu: '#menu',
            });
        });
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
        $("button").click(function(){
            $("#populationslide").toggle();
        });
    });
    </script>

</head>

<body>


<!-- <ul id="menu">
    <li data-menuanchor="firstPage" class="active"><a href="#firstPage">First</a></li>
    <li data-menuanchor="secondPage"><a href="#secondPage">Second</a></li>
</ul> -->

<div id="fullpage">
    <div class="section " id="section0">
        <h1>World Map Predictive Analysis</h1>

       </body>

        <!-- <p> </p> -->
        <!-- <p class="introimg">&darr;&#9636;&darr;</p> -->
        <h3> Options: </h3>
        <body>

           <!-- <form action = "http://localhost:5000/login" method = "post"> -->
           <form action = "http://localhost:5000/formsubmit" method=post onsubmit="return doSomething()">
               <select name="Options" size="4" multiple>
                 <option value="population">Population</option>
                 <option value="gdp">GDP/Capita</option>
                 <option value="gini">GINI Score</option>
                 <option value="happiness">Happiness Score</option>
               </select>
               <!-- <p><input type = "text" name = "nm" /></p> -->
               <input type=submit>
           </form>

         </body>

        <head>
          <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
          <script type="text/javascript">
            google.charts.load('current', {
              'packages':['geochart'],
              // Note: you will need to get a mapsApiKey for your project.
              // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
              'mapsApiKey': 'AIzaSyD-9tSrke72PouQMnMX-a7eZSW0jkFMBWY'
            });
            google.charts.setOnLoadCallback(drawRegionsMap);

            function drawRegionsMap() {
              // Sara do this here:
              // if array exists: // from submit above
              //   call array as _____ then pass below
              //
              var data = google.visualization.arrayToDataTable([
                ['Country', 'Coefficient', 'Popularity'],
                ['Germany', 34, 200],
                ['United States', 25,  300],
                ['Brazil', 75, 400],
                ['Canada', 14, 500],
                ['France', 94, 600],
                ['RU', 16, 700]
              ]);

              var options = {};

              // var options = { displayMode: 'text' };

              var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

              chart.draw(data, options);
            }
          </script>
        </head>

        <body>
          <center>
          <div id="regions_div" style="width: 900px; height: 500px;"></div>
          </center>
        </body>

        <!-- <div class="wrapper"> -->
        <button>Toggle between hide() and show() Population</button>
          <div class="box" id = "populationslide">
            <div class="content">Population</div>


            <div class="slidecontainer"> <!-- Slider 1 -->
              <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
              <p>Value: <span id="demo"></span></p>
            </div>

            <script> <!-- Script draws from user input on slider 1 -->
            var slider = document.getElementById("myRange");
            var output = document.getElementById("demo");
            output.innerHTML = slider.value;

            slider.oninput = function() {
              output.innerHTML = this.value;
            }
            </script>
            <!-- <button>Toggle between hide() and show()</button> -->

          </div>

          <div class="box" id = "gdp">
            <div class="content">GDP</div>
            <p> </p>

            <div class="slidecontainer"> <!-- Slider 2 -->
              <input type="range" min="1" max="100" value="50" class="slider" id="myRange2">
              <p>Value: <span id="demo2"></span></p>
            </div>

            <script> <!-- Script draws from user input on slider 2-->
            var slider2 = document.getElementById("myRange2");
            var output2 = document.getElementById("demo2");
            output2.innerHTML = slider2.value;

            slider2.oninput = function() {
              output2.innerHTML = this.value;
            }
            </script>

          </div>

          <div class="box">
            <div class="content">GINI Score</div>

            <div class="slidecontainer"> <!-- Slider 3-->
              <input type="range" min="1" max="100" value="50" class="slider" id="myRange3">
              <p>Value: <span id="demo3"></span></p>
            </div>

            <script> <!-- Script draws from user input on slider 3 -->
            var slider3 = document.getElementById("myRange3");
            var output3 = document.getElementById("demo3");
            output3.innerHTML = slider3.value;

            slider3.oninput = function() {
              output3.innerHTML = this.value;
            }
            </script>

          </div>

          <div class="box">
            <div class="content">Happiness</div>

            <div class="slidecontainer"> <!-- Slider 3-->
              <input type="range" min="1" max="100" value="50" class="slider" id="myRange3">
              <p>Value: <span id="demo3"></span></p>
            </div>

            <script> <!-- Script draws from user input on slider 3 -->
            var slider3 = document.getElementById("myRange3");
            var output3 = document.getElementById("demo3");
            output3.innerHTML = slider3.value;

            slider3.oninput = function() {
              output3.innerHTML = this.value;
            }
            </script>

          </div>

          <!--  -->

          <!-- <div class="section" id="section2">
              <div class="intro">
                  <h1>The End</h1>
                  <p>bottom of the page</p>
              </div>
          </div> -->
        <!-- </div> -->
        <!-- </div> -->

    </div>

    <!-- <div class="section" id="section1">
            <div class="intro">
                <h1>First Slide</h1>
                <p>Keep scrolling down</p>
            </div>
        <div class="slide active" id="slide2">
            <h1>Slide 2</h1>
			<p>You can also scroll left or right on this screen</p>
        </div>
        <div class="slide" id="slide3">
            <h1>Slide 3</h1>
        </div>
    </div> -->

</div>

</body>

</html>
