<html>
   <body>

      <!-- <form action = "http://localhost:5000/login" method = "post"> -->
      <form action = "http://localhost:5000/formsubmit" method=post onsubmit="return doSomething()">
          <select name="Options" size="4" multiple>
            <option value="population">Population</option>
            <option value="gdp">GDP/Capita</option>
            <option value="gini">GINI Score</option>
            <option value="happiness">Happiness Score</option>
          </select>
          <!-- <p><input type = "text" name = "nm" /></p> -->
          <input type=submit>
      </form>

    </body>
</html>
